flows(3).json
[
    {
        "id": "768ee640df992203",
        "type": "tab",
        "label": "Flow 3 Tablero fecha",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38ba80f44cbbf33c",
        "type": "inject",
        "z": "768ee640df992203",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "4dcdccd2083be291"
            ]
        ]
    },
    {
        "id": "5c91d6e4537aeda3",
        "type": "debug",
        "z": "768ee640df992203",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "4dcdccd2083be291",
        "type": "function",
        "z": "768ee640df992203",
        "name": "function 1",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "5c91d6e4537aeda3",
                "46166977721fa3ff"
            ]
        ]
    },
    {
        "id": "46166977721fa3ff",
        "type": "ui_text",
        "z": "768ee640df992203",
        "group": "d25019e604930bfc",
        "order": 0,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "La fecha y hora actual es:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "d25019e604930bfc",
        "type": "ui_group",
        "name": "Fecha formato legible",
        "tab": "d11ea4e72338506c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d11ea4e72338506c",
        "type": "ui_tab",
        "name": "Flow 3 - Fecha",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]